
.App button {
  background: #4dbd74 !important;
  border-radius: 5px !important;
  padding: 10px !important;
  width: 200px !important;
  color: #fff;
}

.particle-page {
  margin-top: -600px;
}

@media only screen and (max-width: 490px) {
  .particle-page {
    margin-top: -400px;
  }
}